/* Topic Page */
body.topic .breadcrumb {border: 0px; margin: 0px 0px 2px 0px; padding: 0px;}
body.wide .topic_content {width: 55%;}
.topic_section {clear: both; width: 100%; border-top: 6px solid #820000; margin: 0 0 10px 0; padding: 10px 0px; font-size: 0.9em;}
.topic_section img {float: left; margin: -3px 0px 20px -3px; padding: 7px; background-image: url("../images/content_image_bg.jpg"); background-repeat: no-repeat; max-width:108px;}
.topic_content {float: left; margin: 0px 0px 10px 10px; width: 635px; background-color: #f8f3e5; min-height: 117px }
.topic_content h3 {margin: 10px 0px 0.5em 10px; color: #000;}
.topic_content p {margin: 0px 10px 1em 10px;}
.topic_links {float: left; margin: 0px 0px 0px 10px; padding: 10px 0px 5px 15px; min-height: 100px; border-left: 1px solid #eae9e6 }
.topic_links li {padding-bottom: 4px; list-style-image: url("../images/raquo.gif"); line-height: 14px;}

.topic_roster h3 {margin: 10px 0px 0.5em 10px; color: #000;}
.topic_roster {float: right; width: 100%; margin: 0px;}
.topic_roster tr {width: 100%; background-color: #f8f3e5; min-height: 117px; list-style-type: none; margin: 0px 0px 0.5em 0px}
.topic_roster p {margin: 0px 10px 1em 10px;}
.roster_header td {color: white; background-color: #820000; font-weight:bold; text-transform:uppercase;}
.roster_even td {background-color: #f8f3e5}
.roster_odd td {background-color: white}
.topic_roster {border-collapse: collapse; font-size: 1em}

.game tr {clear: both; width: 100%; border-top: 6px solid #820000; margin: 0 0 10px 0; padding: 10px 0px; font-size: 0.9em;}
.game img {float: left; margin: -3px 0px 20px -3px; padding: 7px; background-image: url("../images/content_image_bg.jpg"); background-repeat: no-repeat;}

.schedule_col {float: left; background-color: #f8f3e5; }
.schedule_col h3 {margin: 10px 0px 0.5em 10px; color: #000;}
.schedule_col p {margin: 0px 10px 1em 10px;}

#center p.camp img { width: 100%; }
#nav { display: block; }

#team_pic { margin-left: 88px }
