<!-- Start #sidebar-right (Removable) -->
<div id="sidebar-right" class="sidebar">
  <h2>MCLA</h2>
  <a href='http://mcla.us/' title='The Mens Collegiate Lacrosse Association (MCLA)'><img src='http://media.mcla.us/images/powered_by_mcla.jpg' alt='Powered by MCLA.us' /></a>

  <p>This site uses data from MCLA.</p>
  <dl>
    <dt><a href="http://mcla.us">MCLA.us</a></dt>
    <dd>See news from around Mens Collegate Lacrosse Association.</dd>
    <dt><a href="http://mcla.us/WCLL/">WCLL</a></dt>
    <dd>The MCLA page for West Coast Lacrosse League.</dd>
  </dl>
  <!-- <h2>Related Pages</h2>
  <ul class="computing">
    <li><a href="blah.pdf">Link 1</a></li>
    <li><a href="blah.doc">Link 2</a></li>
    <li><a href="blah.xls">Link 3</a></li>
    <li><a href="blah.ppt">Link 4</a></li>
    <li><a href="#" class="external">Link 5</a></li>
  </ul>
</div> -->
<!-- End #sidebar-right (Removable) -->
