<h1>Alumni</h1>

<!-- Start #center -->
<div id="center">

  <!--Optional On this page End-->
  <!-- <p><img src="/images/alumni_scrimage.png"/></p> -->
  <h2 id="c1">Email list</h2>
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG1wRU1CeDBBXzVmRlBRLWRfQ0RkMWc6MQ" width="760" height="571" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>
</div>
<!-- End #content -->
