<h1>Camp - <span><a href="http://www.ussportscamps.com/lacrosse/nike/stanford-boys-lacrosse-camp/">Registration link</a></span></p></h1>

<!-- Start #sidebar-left (Removable) -->
<div id="sidebar-left" class="sidebar">
  <h2>Introduction</h2>
  <p class="introduction">Vivamus augue. Quisque non tellus. Aenean ullamcorper semper ligula. Curabitur odio. Ut neque. Sed eget est. Nunc sit amet urna. Donec lectus nisi, tempus nec, consectetuer ac, interdum id, velit. Morbi interdum convallis magna.</p>
</div>
<!-- End #sidebar-left (Removable) -->

<!-- Start #center -->
<div id="center">

  <!--Optional On this page End-->
  <p class="camp">
  <img src="https://lh5.googleusercontent.com/kvyq6F8uifs4U6aC0QAak1giJ7ZQI1a1b7zpjH5QXgqnMgfrzWtGCa0GykqqMq37zFayMtQtlW5zQtScgtVDc_i48hSqydTP6rauwMhmFXFuW6jCPFfy"></img>
  <h2 id="c1">Stanford Lacrosse Camps Are Back!</h2>
  <p>Overnight Camp August  5-8</p>
  <p>For More information and to register, please click on the links above or below.</p>
  <p><a href="http://www.ussportscamps.com/lacrosse/nike/stanford-boys-lacrosse-camp/"> Registration link</a></p>
</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>
</div>
<!-- End #content -->
