<h1>Coaches</h1>

<!-- Start #content -->
<div id="content">

  <!-- Start #sidebar-left (Removable) -->
  <div id="sidebar-left" class="sidebar">
    <h2>Introduction</h2>
    <p class="introduction">Vivamus augue. Quisque non tellus. Aenean ullamcorper semper ligula. Curabitur odio. Ut neque. Sed eget est. Nunc sit amet urna. Donec lectus nisi, tempus nec, consectetuer ac, interdum id, velit. Morbi interdum convallis magna.</p>
    <h2>Contents</h2>
    <p class="email">Nam pretium, sem quis varius blandit, odio dolor tempus sem, et commodo ligula felis id mauris. Proin ut nunc eget magna lacinia tempor vitae ac sem. </p>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
      <li><a href="#">Link 5</a></li>
    </ul>
  </div>
  <!-- End #sidebar-left (Removable) -->

  <!-- Start #center -->
  <div id="center">
    <!-- <div class="breadcrumb"><a href="#">Main Page</a> &raquo; <a href="#">Sub Page</a> &raquo; Current Page</div> -->
    <div class="topic_section">
      <img src="/images/virk_stanford.png"/>
      <div class="topic_content">
        <h3>Drew Virk - <i>Head Coach</i></h3>
        <p>Coach Virk joined the Stanford men's lacrosse program in 2006 and took over as Head Coach for the 2008 Season.  He has had success on the field with 60 wins to 36 losses with the program. In 2009, Drew was honored as the Western Collegiate Lacrosse League Coach of the Year, and in 2013, the team won the first WCLL Championship in 32 years, earning the first return to the Men’s Collegiate Lacrosse Association National Tournament since 2001.</p>
        <p>Coach Virk made a reputation for himself as one of the top face-off and defensive midfielders in the game, playing for the San Francisco Dragons in Major League Lacrosse from 2006-2008 and for the San Jose Stealth in the National Lacrosse League from 2004-2006. Before his professional career, Drew played Division I lacrosse at the University of Maryland from 2002-2004.  Drew has been coaching in the Bay Area since 2000, when he started the Marin Catholic Junior Varsity program. He further gained experience coaching at St. Ignatius College Preparatory and University High School in San Francisco.  Coach Virk continues to give back at the youth and High School level as the Director of Player and Program Development for ADVNC lacrosse.  Drew also works with the Northern California Chapter in the Pacific Region of US Lacrosse.</p> 
        <p>Drew played football and lacrosse in high school at St. Ignatius, where he was named a High School All-American and captained his lacrosse team to the California State Title. Drew was born and raised in Marin County, and continues to enjoy playing lacrosse with the San Francisco Olympic Club.</p>
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/dev_stanford.png"/>
      <div class="topic_content">
        <h3>Dev Bala - <i>Defensive Coordinator</i></h3>
        <p>Dev Bala has lead the defense for Stanford Lacrosse since
          2011.  During that time the team has made the playoffs four out of five seasons and has won two WCLL Championships.  He has coached the defense with a team first motto, "Count on Me".</p> 
          
          <p>Dev moved to the Bay Area from Seattle, WA, where he coached
          lacrosse at Redmond High School for three years. During that time his
          teams won two conference championships, had the #1 ranked defense in
          the state two years in a row, and produced multiple collegiate
          defensemen at the NCAA Division I, II, and MCLA levels. Dev is
          originally from St. Louis, MO, and played defense at MCLA Division I
          Washington University in St. Louis, where he was a three-time captain
          and led the team to its first-ever conference championship and a trip
          to the 2003 MCLA National Tournament. He studied both Computer
          Science and French in school and spends his time off the field
          working at Google.
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/kitler_stanford.jpg"/>
      <div class="topic_content">
        <h3>Andy Kittler - <i>Offensive Coordinator</i></h3>
        <p>
          Andy Kittler will lead the offense. Played lacrosse at Princeton
          before joining the Stanford Coaching squad.
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/ryan_stanford.jpg"/>
      <div class="topic_content">
        <h3>Mo Ryan - <i>Defensive Assistant Coordinator</i></h3>
        <p>
          Mo Ryan is a new addition to the Stanford Men's Lacrosse Program as
          well as the West Coast.  A New Jersey native, Mo Played lacrosse at
          St. Peter's Prep ('01) and later moved onto Marquette University
          ('05) serving as each team's captain from Jr. year on. Since
          graduating, Mo has held coaching positions ranging from Defensive
          Co-ordinator to Head Coach and been to two NJ state championship
          games, winning in 2008 with Morristown Beard.  An active scout, Mo
          looks forward to helping Stanford both on and off the field.
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/green_stanford.jpg"/>
      <div class="topic_content">
        <h3>Major Chris Green</h3>
        <p>
          Chris Green will serve as the strength and conditioning coach for the
          team this year.  This is his second year with the team and he is
          currently a graduate student at Stanford in the Management Science
          and Engineering.  Chris has spent the last 10 years as an officer in
          the United States Army with 5 tours to Iraq/Afghanistan.  Chris
          played college lacrosse at the United States Military Academy at West
          Point.
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/mahlow_stanford.jpg"/>
      <div class="topic_content">
        <h3>Paul-Wayne Mahlow - <i>Athletic Trainer</i></h3>
        <p>
          Paul-Wayne Mahlow is returning to support Stanford Men's Lacrosse. He
          covered games for the club in 2008.  Paul-Wayne attended UCLA, where
          he first had the opportunity to play lacrosse. After graduating from
          UCLA, he coached defense for a season and was head coach for two
          seasons (1997-98 and 1998-99) while he was working in the UCLA
          physical therapy department. In 2000 and 2001 he was an intern at the
          University of Maryland's Sports Medicine Department, where he worked
          with Men's Lacrosse among other sports.
        </p>
        <p>
          Paul-Wayne earned his certification in athletic training in 2001, and
          attended San Jose State University, where he earned his Masters in
          2003. In 2003, Paul-Wayne also became certified as a strength and
          conditioning specialist. Paul-Wayne has worked as an athletic trainer
          at San Francisco State, The King's Academy, South Bay Sports, De Anza
          College, San Jose State University, and CSUMB. He is married to Pam
          Mahlow (2000), and they have two sons Matthew and Joshua.
        </p>
      </div>
    </div>

    <div class="topic_section">
      <img src="/images/graw_stanford.jpg"/>
      <div class="topic_content">
        <h3>Dr. Bradley Graw - <i>Team Physician</i></h3>
        <p>
          Dr. Bradley Graw is an orthopaedic surgeon and former collegiate
          lacrosse player at Yale.  He played midfield at Yale earning four
          varsity letter s and graduated in 1999.  His senior year he earned
          All-Ivy honors and participated in the national USILA North-South
          game.  Dr Graw continues to play lacrosse for the Olympic Club of San
          Francisco after playing in the USCLA for the Capital Lacrosse Club in
          Washington DC.  Professionally he specializes in joint reconstructive
          surgery and sports medicine having trained at Georgetown, Stanford,
          and the SOAR clinic local to the Bay Area, where he now works.  He is
          committed to the health and fitness of the Stanford Lacrosse team and
          to the continued growth of lacrosse in Northern California.
        </p>
      </div>
    </div>

  </div>
  <!-- End #center -->

  <%- partial('_sidebar') %>

  <div class="content_clear"></div>
</div>
<!-- End #content -->

