<h1>Contact</h1>

<!-- Start #sidebar-left (Removable) -->
<div id="sidebar-left" class="sidebar">
  <h2>Introduction</h2>
  <p class="introduction">Vivamus augue. Quisque non tellus. Aenean ullamcorper semper ligula. Curabitur odio. Ut neque. Sed eget est. Nunc sit amet urna. Donec lectus nisi, tempus nec, consectetuer ac, interdum id, velit. Morbi interdum convallis magna.</p>
</div>
<!-- End #sidebar-left (Removable) -->

<!-- Start #center -->
<div id="center">

  <!--Optional On this page Start-->
<!--  <div id="onthispage">
    <h1>On this page:</h1>
    <ul>
      <li><a href="#c1">Greeting</a></li>
      <li><a href="#c2">Giving Instructions</a></li>
    </ul>
  </div> -->
  <!--Optional On this page End-->
  <!-- <p><img src="/images/alumni_scrimage.png"/></p> -->

  <p>If you are a Stanford LAX alum and would like to be notified of future events, or if you are interested in playing lacrosse at Stanford, please email Coach Drew Virk or one of our captains. If you are interested in Summer Camps, please direct inquiries to Coach Drew Virk.</p>

  <table style="width:350px">
    <tr>
      <td><h2>Coach</h2></td>
    </tr>
    <tr>
      <td><h3>Drew Virk</h3></td>
      <td><h3><a href="mailto:dtvirk@stanford.edu">dtvirk@stanford.edu</a><h3></td>
    </tr>
    <tr>
      <td><h2>Captains</h2></td>
    </tr>
    <tr>
      <td><h3>Zach Ellison - President</h3></td>
      <td><h3><a href="mailto:zellison@stanford.edu">zellison@stanford.edu</a><h3></td>
    </tr>
    <tr>
      <td><h3>Josh Giglio - Financial Officer</h3></td>
      <td><h3><a href="mailto:jdgiglio@stanford.edu">jdgiglio@stanford.edu</a><h3></td>
    </tr>
    <tr>
      <td><h3>Neil Hamamoto</h3></td>
      <td><h3><a href="mailto:neilh@stanford.edu">neilh@stanford.edu</a><h3></td>
    </tr>
  </table>



</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>
</div>
<!-- End #content -->
