<h1>Giving</h1>

<!-- Start #sidebar-left (Removable) -->
<div id="sidebar-left" class="sidebar">
  <h2>Introduction</h2>
  <p class="introduction">Vivamus augue. Quisque non tellus. Aenean ullamcorper semper ligula. Curabitur odio. Ut neque. Sed eget est. Nunc sit amet urna. Donec lectus nisi, tempus nec, consectetuer ac, interdum id, velit. Morbi interdum convallis magna.</p>
</div>
<!-- End #sidebar-left (Removable) -->

<!-- Start #center -->
<div id="center">

  <!--Optional On this page Start-->
  <!--
  <div id="onthispage">
    <h1>On this page:</h1>
    <ul>
      <li><a href="#c1">Greeting</a></li>
      <li><a href="#c2">Giving Instructions</a></li>
    </ul>
  </div>
  -->
  <!--Optional On this page End-->
  <p><img src="/images/giving.jpg"/></p>
  <h2 id="c1">Greeting</h2>
  <p>Friends and Alumni,</p>
  <p>The generosity of donors has always been an incredible asset to our program. To find out how you can help the program, or if you are interested in giving, please follow this link and instructions on the right. Any contribution is meaningful.</p>
  <p>All contributions are tax deductible.</p>
  <p>Thank you for your support,</p>
  <p>Stanford Men’s Lacrosse</p>
  <h2 id="c2">Giving Instructions</h2>
  <!--
  <p>Email Head Coach Drew Virk at <a href="mailto:dtvirk@stanford.edu">dtvirk@stanford.edu</a></p>
  -->

  <h3>How to Give by Check:</h3>
  <ol>
    <li>Make your checks out to "Stanford Men's Lacrosse"</li>
    <li>Mail check to:
      <code>
        <br/>
        Men's Lacrosse<br/>
        c/o Pam Mahlow<br/>
        641 E Campus Dr<br/>
        Stanford CA 94305-6150<br/>
      </code>
    </li>
  </ol>

  <h3>How to Give Online:</h3>
  <ol>
    <li>
      <strong>Go to</strong>
      <a href="http://giving.stanford.edu">giving.stanford.edu</a> and click on
      the main menu "Make a Gift Now" ("Direct Your Gift" pops open)</li>
    <li>
      <strong>Direct your gift:</strong>
      At the first drop down selection choose 'other', select the type of gift
      (one time, pledge, recurring), select payment type (credit card, wire
      transfer, or security transfer), and click continue.
      <p>*You will need to Log In or Register if you haven't already</p>
    </li>
    <li>
      <strong>Designate your Gift:</strong>
      In the 'Further Designation' drop-down menus select 'Other Designation
      (specify below)'. In the Special Instructions/Other Designation Text Box
      write <strong>Stanford Men's Lacrosse</strong>.
    </li>
    <li>Enter/Verify your contact information and payment details</li>
  </ol>

  <!-- <ol>
    <li>Follow <a href="https://pgnet.stanford.edu/give/home?pgnTPC=75&cturl=close&olc=06301" target="_blank">this link</a> to the official giving portal</li>
    <li>Select "Stanford Athletics" under the box labeled "Please select the school or group to which you wish to make a gift" and then click "Continue"</li>
    <li>On the next page, select "Other Designation" under the box labeled Further Designation.</li>
    <li>In the text box labeled Special Instructions/Other Designation, type "For Stanford Men's Club Lacrosse"</li>
    <li>Complete personal and credit card information and finalize online gift process.</li>
  </ol> -->

</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>
</div>
<!-- End #content -->
