<!-- Start #center -->
<div id="center">
  <div id="banner">
    <img src="images/header.jpg" class="image_banner"/>
  </div>
  <!-- Start #portal_left -->
  <div id="portal_left">
    <h2>Upcoming Games</h2>
    <!--<a href="#" title="Subscribe to Event RSS" class="rss_feed">
      <span>Subscribe to Events RSS feed</span>
    </a>-->
    <!-- Start #event_section -->
    <div id="event_section" class="ceebox">
      <img src="images/farr-wide.jpg" class="imagewide"/>
      <script src="http://api.mcla.us/simple/?api_key=f2195fb5dcd515ea7d37b81f1ff08816&version=1.2&method=upcoming_games_widget&team=stanford&num=4&season=2015" type="text/javascript"></script>
    </div>
    <p class="more"><a href="/schedule">SCHEDULE &raquo</a></p>
    <!-- End #event_section -->
  </div>
  <!-- End #portal_left -->


  <!-- Start #portal_center -->
  <div id="portal_center">

    <h2>Logistics</h2>
    <!-- <a href="#" title="Subscribe to News RSS" class="rss_feed">
      <span>Subscribe to News RSS feed</span>
    </a> -->
    <div id="seal"></div>

    <!-- Start #news_section -->
    <div id="news_section">
      <a href="http://bit.ly/gz2HWX" target="_blank">
        <img src="images/field.jpg" class="image_news"/>
      </a>
      <h3>
        <a href="http://bit.ly/gz2HWX">Directions to the Field</a>
      </h3>
      <p>Stanford home games are played on the South IM Fields.</p>
      <hr class="clear" />

      <a href="http://bit.ly/g7jnXF">
        <img src="images/turf.jpg" class="image_news"/>
      </a>
      <h3>
        <a href="http://bit.ly/g7jnXF">Directions to the Turf Field</a>
      </h3>
      <p>In the case of rain, games are played on the artificial turf field behind the sunken diamond.</p>
      <hr class="clear" />
      <a href="http://bit.ly/g6mEj2">
        <img src="images/parking.jpg" class="image_news"/>
      </a>
      <h3>
        <a href="http://bit.ly/g6mEj2">Parking</a>
      </h3>
      <p>Parking is available either on El Camino Real road to the east of the field or in the parking lots to the south of the field. To get to the south parking lot, turn onto Serra St. off of El Camino Real. Then make the first right, just before a Stanford Credit Union building. Following the parking lot straight will lead you to the entrance to the turf field by passing a day school. Following the parking lot to the right will lead you to the regular lacrosse field.</p>

      <!-- <p class="more"><a href="#">MORE NEWS &raquo;</a></p> -->

    </div>
    <!-- End #news_section -->
  </div>
  <!-- End #portal_center -->



</div>
<!-- End #center -->

<%- partial('_sidebar') %>

</div>
<!-- End #content -->
