<!-- Start #content -->
<div id="content">

<h1>Roster</h1>

<!-- Start #center -->
<div id="center">
  <!-- <div class="breadcrumb"><a href="#">Main Page</a> &raquo; <a href="#">Sub Page</a> &raquo; Current Page</div> -->

  <img id="team_pic" src="/images/team_stanford.jpg"/>
  <br/>
  <br/>
  <script src="http://api.mcla.us/simple/?api_key=f2195fb5dcd515ea7d37b81f1ff08816&version=1.2&method=roster_widget&team=stanford&width=780&season=2014" type="text/javascript"></script>


</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>


</div>
<!-- End #content -->
