<!-- Start #content -->
<div id="content">
  <h1>Schedule</h1>

<!-- Start #center -->
<div id="center">

          <!--Optional Breadcrumb Start-->
          <!--<div class="breadcrumb"><a href="#">Main Page</a> &raquo; <a href="#">Sub Page</a> &raquo; Current Page</div>-->
          <!--Optional Breadcrumb End-->

          <!--Optional On this page Start-->
          <!-- <div id="onthispage">
            <h1>On this page:</h1>
            <ul>
              <li><a href="#c1">heading 1</a></li>
              <li><a href="#c2">heading 2</a></li>
            </ul>
          </div> -->
          <!--Optional On this page End-->
          <!--<h2 id="c1">Heading</h2>
          <p>Praesent faucibus molestie orci. Vestibulum tincidunt tellus vel nisi. Morbi sed est at odio faucibus tempor. Vestibulum faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque eu odio sit amet nunc dictum consectetuer.</p>
          <h3>Sub-Heading</h3>
          <p>Vivamus sollicitudin, nulla eget dictum feugiat, nunc leo facilisis felis, a lacinia dui velit eget nibh. Etiam bibendum orci non ante. Quisque iaculis ligula sit amet dui lobortis laoreet. Fusce elit pede, rutrum vel, ultrices nec, sollicitudin ut, nunc. Nulla facilisi.</p>
          <h2 id="c2">Heading</h2>
          <p>Donec sollicitudin pharetra diam. Aliquam egestas tellus a elit. Phasellus et sem. Nulla nec lectus. Cras lobortis, enim nec dignissim condimentum, dui mi venenatis purus, at ullamcorper massa ipsum sed sapien. Proin fringilla sodales nunc. Suspendisse mollis tortor id nisi.</p> -->

        <script src="http://api.mcla.us/simple/?api_key=f2195fb5dcd515ea7d37b81f1ff08816&version=1.2&method=schedule_widget&team=stanford&width=780&season=2015" type="text/javascript"></script>


        </div>
        <!-- End #center -->

<!--  <div class="breadcrumb"><a href="#">Main Page</a> &raquo; <a href="#">Sub Page</a> &raquo; Current Page</div>

  </table>

</div>
<!-- End #center -->

<%- partial('_sidebar') %>

<div class="content_clear"></div>

</div>
<!-- End #content -->
